@model List<CMCSRequest>

@{
    ViewData["Title"] = "UserAccount";

}

@section Scripts {

    <script type="text/javascript">

        let selectedRequestIndex = -1;
        let selectedRequestID = -1;
        let rowSelected = false;
        let bRequestSelected = false;

        function request_selected(index) {
            if (selectedRequestIndex != -1) {
                document.getElementById("ROW-" + selectedRequestIndex).style.color = "black";
                let children = document.getElementById("ROW-" + selectedRequestIndex).children;

                for (let i = 0; i < children.length; i++) {
                    children[i].classList.replace("table-cell-class3", "table-cell-class2");
                }
            }

            if (selectedRequestIndex == index)
                selectedRequestIndex = -1;
            else {
                selectedRequestIndex = index;

                document.getElementById("ROW-" + selectedRequestIndex).style.color = "white";
                let children = document.getElementById("ROW-" + selectedRequestIndex).children;

                for (let i = 0; i < children.length; i++) {
                    children[i].classList.replace("table-cell-class2", "table-cell-class3");
                }
            }

            rowSelected = true;
            bRequestSelected = false;

            if (selectedRequestIndex != -1) {
                document.getElementById("tblDocuments").innerHTML = "<br /><b>Fetching documents, please wait...</b>";
                POST_DATA2("/UserAccount/UserAccount", null, [["ActionName", "SetRequestIndex"], ["RowSelected", selectedRequestIndex]], RequestSelected);
            }
            else {
                document.getElementById("tblDocuments").innerHTML = "<br /><b>No document(s) found</b>"
            }
        }

        function RequestSelected(status1) {
            if (status1 == 1) {
                GET_DATA("/UserAccount/UserAccount", [["ActionName", "GetRequestIndex"]], function (status2, response2) {
                    let obj = JSON.parse(response2);
                    selectedRequestIndex = obj.RequestIndex;
                    selectedRequestID = obj.RequestID;
                    
                    GET_DATA("/UserAccount/UserAccount", [["ActionName", "GetSupportingDocuments"], ["RequestID", selectedRequestID]], function (status3, response3) {
                        let supportingDocuments = JSON.parse(response3);
                        
                        if (supportingDocuments.length > 0) {
                            let html = "<table style='width: 100%'>";

                            for (let i = 0; i < supportingDocuments.length; i++) {
                                html += "<tr>";
                                html += "<td class='table-cell-class' style='width: 46%'>" + supportingDocuments[i].Name + "</td>";
                                html += "<td class='table-cell-class' style='width: 18%'>" + supportingDocuments[i].Size + "</td>";
                                html += "<td class='table-cell-class' style='width: 18%'>" + supportingDocuments[i].Type + "</td>";
                                html += "<td class='table-cell-class' style='width: 18%'><button class='button-class button-class-small2' onclick='ViewDocument(" + i + ")'>View</button><br /><div style='height: 8px'></div><button class='button-class button-class-small2' onclick='DownloadDocument(" + i + ")'>Download</button><br /><div style='height: 4px'></div></td>";
                                html += "</tr>";
                            }

                            html += "</table>";
                            document.getElementById("tblDocuments").innerHTML = html;
                        }
                        else {
                            document.getElementById("tblDocuments").innerHTML = "<br /><b>No document(s) found</b>"
                        }

                        bRequestSelected = true;
                    });
                });

            }
        }

        function DownloadDocument(fileIndex) {
            GET_DATA("/UserAccount/UserAccount", [["ActionName", "GetDocumentContent"], ["RequestID", selectedRequestID], ["FileIndex", fileIndex]], FileContentRecieved);
        }

        function FileContentRecieved(status, content) {
            let filename = content.substring(1, content.lastIndexOf(']'));
            let fileContent = content.substring(content.indexOf(']') + 1);

            let element = document.createElement("a");
            element.href = "data:application/octet-stream;base64," + fileContent;
            element.download = filename;
            element.click();
        }

        function ViewDocument(fileIndex) {
            window.location = "/UserAccount/ViewDocument?RequestID=" + selectedRequestID + "&DocumentIndex=" + fileIndex;
        }

        function EditRequest() {
            if (selectedRequestIndex != -1) {
                if (bRequestSelected)
                    window.location = "/Request/NewRequest?ActionName=EditRequest&RequestID=" + selectedRequestID;
                else {
                    document.getElementById("main-screen").style.position = "absolute";
                    document.getElementById("loading-screen").hidden = false;

                    let interval = setInterval(function () {
                        if (bRequestSelected == true) {
                            clearInterval(interval);

                            document.getElementById("main-screen").style.position = "relative";
                            document.getElementById("loading-screen").hidden = true;

                            window.location = "/Request/NewRequest?ActionName=EditRequest&RequestID=" + selectedRequestID;
                        }
                    }, 1);
                }
            }
            else {
                window.location = "/Home/Status?ActionName=EditRequest&Status=Failed";
            }
        }

        function TrackRequest() {
            if (selectedRequestIndex != -1) {
                if (bRequestSelected)
                    window.location = "/Request/TrackRequest?RequestID=" + selectedRequestID;
                else {
                    document.getElementById("main-screen").style.position = "absolute";
                    document.getElementById("loading-screen").hidden = false;

                    let interval = setInterval(function () {
                        if (bRequestSelected == true) {
                            clearInterval(interval);

                            document.getElementById("main-screen").style.position = "relative";
                            document.getElementById("loading-screen").hidden = true;

                            window.location = "/Request/TrackRequest?RequestID=" + selectedRequestID;
                        }
                    }, 1);
                }
            }
        }

        function CancelRequest() {
            if (selectedRequestIndex != -1) {
                if (bRequestSelected) {
                    window.location = "/Request/CancelRequest?RequestID=" + selectedRequestID;
                }
                else {
                    document.getElementById("main-screen").style.position = "absolute";
                    document.getElementById("loading-screen").hidden = false;

                    let interval = setInterval(function () {
                        if (bRequestSelected == true) {
                            clearInterval(interval);

                            document.getElementById("main-screen").style.position = "relative";
                            document.getElementById("loading-screen").hidden = true;

                            window.location = "/Request/TrackRequest?RequestID=" + selectedRequestID;
                        }
                    }, 1);
                }
            }
        }

        function ExportLog() {
            GET_DATA2("/Request/ExportLog", null, function (request) {
                let element = document.createElement("a");
                element.href = "data:application/octet-stream;base64," + btoa(request.response);
                element.download = "LOG-" + request.getResponseHeader("FileName") + ".txt";
                element.click();
            });
        }

        function ManageAccount() {
            window.location = "/UserAccount/UpdateUserProfile";
        }

        function toggle_full_table_view()
        {
            let bFullView = document.getElementById("tbl-cell2").hidden;

            if (bFullView) { 
                document.getElementById("tbl-cell1").style.width = "65%";
                document.getElementById("tbl-cell2").style.width = "34%";
                document.getElementById("tbl-cell2").hidden = false;
            }
            else
            {
                document.getElementById("tbl-cell1").style.width = "99%";
                document.getElementById("tbl-cell2").style.width = "0%";
                document.getElementById("tbl-cell2").hidden = true;
            }
        }

    </script>

}

@{

                    <div align="center">
                        <div style="height: 1rem"></div>
                        <div>
                            <button class="button-class button-class-wide" onclick="window.location = '/Request/NewRequest?ActionName=NewRequest'"><img src="~/images/new-icon.png" height="24" />New Request</button>
                            <button class="button-class button-class-wide" onclick="EditRequest()"><img src="~/images/edit-icon.png" height="24" />Edit Request</button>
                            <button class="button-class button-class-wide" onclick="TrackRequest()"><img src="~/images/track-icon.png" height="24" />Track Request</button>
                            <button class="button-class button-class-wide" onclick="window.location.reload()"><img src="~/images/refresh-icon.png" height="24" />Refresh Request(s)</button>
                            <button class="button-class button-class-wide" onclick="CancelRequest()"><img src="~/images/cancel-icon.png" height="24" />Cancel Request(s)</button>
                            <button class="button-class button-class-wide" onclick="ExportLog()"><img src="~/images/export-icon.png" height="24" />Export Log</button>
                            <button class="button-class button-class-wide" onclick="ManageAccount()"><img src="~/images/account-icon.png" height="24" />Manage Account</button>
                        </div>
                        <br />

                        <div style="background-color: white">
                            <table style="width: 100%; height: 100vh">
                                <tr>
                                    <td id="tbl-cell1" align="center" style="width: 65%; vertical-align: top">
                                        <div style="background-color: white">
                                            <div style="background-color: #304c80">
                                                <br />
                                                <table cellpadding="16" class="request-display" style="width: 100%">
                                                    <tr>
                                                        <th class="table-cell-class" style="width: 10%">Request ID</th>
                                                        <th class="table-cell-class" style="width: 20%">Request Name</th>
                                                        <th class="table-cell-class" style="width: 30%">Description</th>
                                                        <th class="table-cell-class" style="width: 10%">Request Approved</th>
                                                        <th class="table-cell-class" style="width: 10%">Status</th>
                                                        <th class="table-cell-class" style="width: 10%">Date Submitted</th>
                                                        <th class="table-cell-class" style="width: 10%">Date Approved</th>
                                                    </tr>

                                                    <!-- This is where the claims will be displayed -->
                                                </table>
                                                <br />
                                            </div>

                                            @{
                                if (this.Model.Count > 0)
                                {
                                                                    <table style="width: 100%">

                                                                        @{
                                            int count = 0;

                                            foreach (CMCSRequest request in this.Model)
                                            {
                                                var requestApproved = string.Empty;
                                                string sDateSubmitted = request.DateSubmitted.HasValue ? request.DateSubmitted.Value.ToString("yyyy/MM/dd HH:mm:ss") : string.Empty;
                                                string sDateApproved = request.DateApproved.HasValue ? request.DateApproved.Value.ToString("yyyy/MM/dd HH:mm:ss") : string.Empty;

                                                if (request.RequestStatus == "Approved")
                                                    requestApproved = "Yes";

                                                if (request.RequestStatus == "Rejected")
                                                    requestApproved = "No";

                                                if (request.RequestStatus == "Pending")
                                                    requestApproved = "No";

                                                                                                <tr id="ROW-@count" style="height: 64px; color: black" onclick="request_selected(@count)">
                                                                                                    <td class="table-cell-class table-cell-class2" style="width: 10%">@request.RequestID</td>
                                                                                                    <td class="table-cell-class table-cell-class2" style="width: 20%">@request.RequestFor</td>
                                                                                                    <td class="table-cell-class table-cell-class2" style="width: 30%">@request.Description</td>
                                                                                                    <td class="table-cell-class table-cell-class2" style="width: 10%">@requestApproved</td>
                                                                                                    <td class="table-cell-class table-cell-class2" style="width: 10%">@request.RequestStatus</td>
                                                                                                    <td class="table-cell-class table-cell-class2" style="width: 10%">@sDateSubmitted</td>
                                                                                                    <td class="table-cell-class table-cell-class2" style="width: 10%">@sDateApproved</td>
                                                                                                </tr>

                                                count++;
                                            }
                                                                        }

                                                                    </table>

                                }
                                else
                                {
                                                                    <b>No request(s) found</b>
                                                                    <br />
                                                                    <br />
                                }
                                            }
                                        </div>
                                    </td>
                                    <td onclick="toggle_full_table_view()" style="width: 1%; height: 100%; background-color: #304c80"></td>
                                    <td id="tbl-cell2" align="center" style="vertical-align: top; width: 34%">
                                        <div style="background-color: white">
                                            <div align="left"><b>Supporting Document(s)</b></div>
                                            <table cellpadding="16" class="request-display" style="width: 100%">
                                                <tr style="background-color: #304c80">
                                                    <th class="table-cell-class" style="width: 46%">Document Name</th>
                                                    <th class="table-cell-class" style="width: 18%">Size</th>
                                                    <th class="table-cell-class" style="width: 18%">Type</th>
                                                    <th class="table-cell-class" style="width: 18%">Action</th>
                                                </tr>
                                            </table>

                                            <div id="tblDocuments">
                                                <br />
                                                <b>No document(s) found</b>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
}